apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "fishymetrics.name" . }}
  labels:
    {{- include "fishymetrics.common.metaLabels" . | nindent 4 }}
    {{- include "fishymetrics.common.matchLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas | default 1 }}
  selector:
    matchLabels:
      app: {{ template "fishymetrics.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "fishymetrics.name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
        {{- if .Values.vector.enabled }}
        - name: {{ .Chart.Name }}-vector
          image: "{{ .Values.vector.image.repo }}:{{ .Values.vector.image.tag }}"
          imagePullPolicy: {{ .Values.vector.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.vector.port }}
              name: vector
          env:
            - name: ELASTICSEARCH_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ template "fishymetrics.name" . }}-creds
                  key: elastic-user
            - name: ELASTICSEARCH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ template "fishymetrics.name" . }}-creds
                  key: elastic-pass
          resources:
{{ toYaml .Values.vector.resources | indent 12 }}
          volumeMounts:
            - name: vector-config
              mountPath: /etc/vector
        {{- end }}
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repo }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.exporter.port }}
              name: exporter
          args:
          {{- if .Values.credentials }}
            - --credentials.profiles={{ toJson .Values.credentials }}
          {{- end }}
          {{- if .Values.collectors.drives.modulesExclude }}
            - --collectors.drives.modules-exclude={{ .Values.collectors.drives.modulesExclude }}
          {{- end }}
          env:
            - name: BMC_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ template "fishymetrics.name" . }}-creds
                  key: username
            - name: BMC_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ template "fishymetrics.name" . }}-creds
                  key: password
            - name: VAULT_ADDRESS
              value: {{ .Values.vault.address }}
            - name: VAULT_ROLE_ID
              value: {{ .Values.vault.roleId }}
            - name: VAULT_SECRET_ID
              valueFrom:
                secretKeyRef:
                  name: {{ template "fishymetrics.name" . }}-creds
                  key: vault-secret-id
            - name: EXPORTER_PORT
              value: {{ .Values.exporter.port | quote }}
            {{- if .Values.collectors.drives.modules-exclude }}
            - name: COLLECTOR_DRIVES_MODULE_EXCLUDE
              value: {{ .Values.collectors.drives.modules-exclude }}
            {{- end }}
            {{- if .Values.vector.enabled }}
            - name: LOG_LEVEL
              value: {{ .Values.log.level }}
            - name: LOG_METHOD
              value: {{ .Values.log.method }}
            - name: LOG_FILE_PATH
              value: {{ .Values.log.filePath }}
            - name: LOG_FILE_MAX_SIZE
              value: {{ .Values.log.fileMaxSize }}
            - name: LOG_FILE_MAX_BACKUPS
              value: {{ .Values.log.fileMaxBackups }}
            - name: LOG_FILE_MAX_AGE
              value: {{ .Values.log.fileMaxAge }}
            - name: VECTOR_ENDPOINT
              value: {{ .Values.vector.endpoint }}
            {{- end }}
            - name: BMC_SCHEME
              value: {{ .Values.bmc.scheme }}
            - name: BMC_TIMEOUT
              value: {{ .Values.bmc.timeout }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
      {{- if .Values.vector.enabled }}
      volumes:
        - name: vector-config
          configMap:
            name: {{ template "fishymetrics.name" . }}-vector-config
      {{- end }}
    {{- if .Values.affinity }}
      affinity:
{{ toYaml .Values.affinity | indent 8 }}
    {{- end }}
    {{- if .Values.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
    {{- end }}
    {{- if .Values.tolerations }}
      tolerations:
{{ toYaml .Values.tolerations | indent 8 }}
    {{- end }}
