name: 'prechecks'

on:
  workflow_dispatch:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup golang environment
        uses: actions/setup-go@v4
        with:
          go-version: '1.19'

      - name: Install dependencies
        run: go mod tidy

      - name: Run go test
        run: make test

      - name: Run Whitesource/Mend scan
        run: |
           curl -LJO https://github.com/whitesource/unified-agent-distribution/releases/latest/download/wss-unified-agent.jar
           export WS_CHECHKPOLICIES=true
           export WS_FORCECHECKALLDEPENDENCIES=true
           export WS_FORCEUPDATE=true
           export WS_UPDATEINVENTORY=true
           java -jar wss-unified-agent.jar -apiKey ${{ secrets.MEND_API_KEY }} -product ${{ secrets.MEND_PRODUCT_NAME }} -project fishymetrics

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup golang environment
        uses: actions/setup-go@v4
        with:
          go-version: '1.19'

      - name: Install dependencies
        run: go mod tidy

      - name: Make sure app can build
        run: make build

